body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    margin-bottom: 1rem;
}

.section {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    background-color: whitesmoke
}

.section p {
    margin-bottom: 1rem;
    line-height: 20px;
}

#banner {
    display: flex;
    flex-direction: column-reverse;
    background-color: bisque;
     padding: 0 3em;
     height: 10em;
}

#nametag {
    display: flex;
    align-items: center;
    padding-top: 2em;
}

#nav-items {
    display: flex;
    justify-content: space-around;
    margin: 4px 0;
    height: 100%;
    align-items: end;
}

#nav-items a {
    display: flex;
    color: black;
    text-decoration-line: none;
    font-weight: bold;
    margin-bottom: 5px 0;
    height: 100%;
    align-items: end;
    padding: 0 1rem
    
}

#nav-items a:hover {
    background-color: slategray;
    border-bottom: 2px slategray solid;
    color: bisque;
}


#logo {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

#projects-section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form {
    display: flex;
    flex-flow: column;
    width: max-content;
}
form button {
    width: max-content;
    margin: 1em auto;
}

main {
    background-color:#00808050;
    height: 100dvh;
    padding: 2rem;
}

button {
    border-radius: 20px;
    padding: 1rem;
    overflow: hidden;
}

.project-card img {
    height: 10rem;
    width: 10rem;
}

.project-card {
    margin: 1rem;
}

.project-card h3 {
    margin: 6px 0
}

.project-card button {
    background-color: cornsilk;
}

.project-card button:hover {
    background-color: bisque;
}